:root {
    --primary-color: rgb(243, 175, 64);
    --secondary-color: rgb(142, 82, 44);
    --text-color: black;
    --font-family: Arial, sans-serif;
    --padding: 1rem;
    --margin: 0;
    --box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#overlay {
    background-color: rgba(179, 177, 177, 0.469); /* Blanc mais pas trop opaque */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 190px;
    z-index: 0;
}

header {
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    background-image: url("/static/img/PNG.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header a{
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    z-index: 1;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
    z-index: 1;
}

nav ul li a {
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    z-index: 1;
}

nav ul li a:hover{
    background-color: #dddddd71;
    color: inherit;
    border-radius: 15px;
}

a.nav-link:hover {
    background-color: #dddddd71;
    color: inherit;
    border-radius: 15px;
}

.nav-link:hover {
    background-color: #dddddd71;
    color: inherit;
    border-radius: 15px;
}

main {
    padding: 2rem;
    text-align: center;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}

.product-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 300px;
    text-align: left;
}

.product-card h3 {
    margin-top: 0;
}

.product-card h4 {
    color: #666;
}

.product-card p {
    margin: 0.5rem 0;
}