<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}An ka Wosso{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/produits.css' %}"> -->
</head>
<body>
    <header>
        <h1>An ka Wosso</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Accueil</a></li>
                <li><a href="{% url 'product' %}">Nos produits</a></li>
                <li><a href="{% url 'about' %}">A propos de Nous</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 An ka Wosso. All rights reserved.</p>
    </footer>
</body>
</html>
