{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
    <h2>Products</h2>
    <form method="get" action=".">
        <input type="text" name="q" placeholder="Search products..." value="">
        <button type="submit">Search</button>
        <select name="category" onchange="this.form.submit()">
            <option value="">All Categories</option>
            {% for cat in categories %}
                <option value="{{ cat }}" {% if cat == selected_category %}selected{% endif %}>{{ cat }}</option>
            {% endfor %}
        </select>
    </form>

    <div class="row">
        <div class="product-list">
            {% for product in products %}
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-header">{{ product.name }}</div>
                      <div class="card-body">
                        <h6 class="card-title">{{ product.description }}</h6>
                        <p class="card-text">Price: {{ product.price }}</p>
                        <p class="card-text">Poids: {{ product.weight }}</p>
                        <p class="card-text">Category: {{ product.categorie }}</p>
                        <a >Acheter</a>
                        <form action="{% url 'add_to_cart' product.id%}" method="post">
                            {% csrf_token %}
                            <input type="number" name="quantity" min="1" value="1">
                            <button type="submit" class="btn btn-primary">Acheter</button>
                        </form>
                      </div>
                    </div>
                  </div>
                
            {% endfor %}
    
        </div>
        

    </div>

{% endblock %}
